
.main{
    width: 100%;
        background: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bG9naW58ZW58MHx8MHx8&w=1000&q=80');
background-position: center;
background-size: cover;
height: 109vh;
padding:0;
margin-top: 0;


}
p{
    text-align: center;
   font-size: 80px;
   color: rgb(248, 248, 247);
   margin-top: 0px;
   padding-top: 30px;
}


.nav{
    text-align: center;
    padding-top: 50px;
}
.nav h2{
    color: rgb(5, 59, 8);
}
.btnsubmit{
border-radius: 5px;
border-color:rgb(3, 53, 3);
background-color: rgb(242, 44, 44);
}
.resign{
     border: 3px solid black;
     width: 180px;
     height: 120px;
     margin-left: 570px;
     margin-top: 40px;
    
}
.resign p{
    text-align: center;
    font: 30x;

}
.resign a{
    
    color: rgb(13, 4, 62);
    font-size: 18px;
}